<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/Accaunts</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="connection.username">root</property>
        <property name="connection.password">Fi2DudKo95</property>

        <mapping class="ru.dao.DateTableEntity"/>
        <mapping class="ru.dao.IntTableEntity"/>
        <mapping class="ru.dao.ListsTableEntity"/>
        <mapping class="ru.dao.QuestionsEntity"/>
        <mapping class="ru.dao.StrTableEntity"/>
        <mapping class="ru.dao.UsersEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>